<h1><%=t :signin %></h1>
<% form_tag(sessions_path, {:id => 'signin'}) do -%>
  <label for="openid_identifier">OpenID</label>
  <%= text_field_tag :openid_identifier, @openid_identifier, :size => 50 %>
  <%= submit_tag t(:signin) %>
<% end -%><
