<%- content_for :css do -%>
<%= stylesheet_link_tag "timetables" %>
<%- end -%>

<div id="timetables">
<a name="timetable-0717">
<h2><%= I18n.l Date.new(2009, 7, 17), :format => :long %></h2>
<table class="timetable">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
      <th class="room">Hitotsubashi Memorial Hall</th>
      <th class="room">Conference Room(2nd Floor)</th>
      <th class="room">Conference Room(1st Floor)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13:30 - 14:30</th>
      <td>
        <div class="session">
          <p class="title">Using Git and GitHub to Develop One Million Times Faster</p>
          <p class="speaker">Scott Chacon</p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>

    <tr>
      <th>14:30 - 14:40</th>
      <td class="break" colspan="3">break</td>
    </tr>


    <tr>
      <th>14:40 - 16:10</th>
      <td class="sessions">
        <div class="session">
          <p class="title">Pragmatic Patterns of Ruby on Rails</p>
          <p class="speaker">Yasuko Ohba</p>
        </div>
        <div class="session">
          <p class="title">Learning Successful Architcture from &quot;Enterprise Rails&quot;</p>
          <p class="speaker">Naoto Takai</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Akira Matsuda</p>
        </div>
        <div class="session">
          <p class="title">Using Adhearsion to Voice Enable your Ruby Applications</p>
          <p class="speaker">Jason Goecke</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Kentaro Goto</p>
        </div>
        <div class="session">
          <p class="title">The random number generator of Ruby and a proposal to improve it</p>
          <p class="speaker">Kenta Murata</p>
        </div>
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Ryutaro Kurai</p>
        </div>
      </td>
    </tr>

    <tr>
      <th>16:10 - 16:40</th>
      <td class="break" colspan="3">break</td>
    </tr>

    <tr>
      <th>16:40 - 17:40</th>
      <td class="sessions">
        <div class="session">
          <p class="title">From Rails to Rack: Making Rails 3 a Better Ruby Citizen</p>
          <p class="speaker">Yehuda Katz</p>
        </div>
      </td>
      <td class="empty">-</td>
      <td>
        <div class="session">
          <p class="title">Design and Implementation of Programing Language with Static Typing</p>
          <p class="speaker">Kazunori Hashimoto, Masato Kiyama</p>
        </div>
        <div class="session">
          <p class="title">Perspective on Performance Improvement of Ruby Virtual Machine</p>
          <p class="speaker">Koichi Sasada</p>
        </div>
      </td>
    </tr>
    <tr>
      <th>17:40 - 17:50</th>
      <td class="break" colspan="3">break</td>
    </tr>
    <tr>
      <th>17:50 - 18:50</th>
      <td>
        <div class="session">
          <p class="title">Lightning Talks</p>
          <p class="speaker"></p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>
    <tr>
      <th>19:30 - </th>
      <td class="break" colspan="3">Party (registration required)</td>
    </tr>

  </tbody>
</table>



<a name="timetable-0718">
<h2><%= I18n.l Date.new(2009, 7, 18), :format => :long %></h2>
<table class="timetable">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
      <th class="room">Hitotsubashi Memorial Hall</th>
      <th class="room">Conference Room(2nd Floor)</th>
      <th class="room">Conference Room(1st Floor)</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th>10:00 - 12:00</th>
      <td class="sessions">
        <div class="session">
          <p class="title">Fate of Ruby 1.8</p>
          <p class="speaker">Urabe Shyouhei</p>
        </div>
        <div class="session">
          <p class="title">Road map for Ruby 1.9.2</p>
          <p class="speaker">Yugui</p>
        </div>
        <div class="session">
          <p class="title">Ruby Reference Manual Renewal Project 2009 Summer</p>
          <p class="speaker">okkez</p>
        </div>
        <div class="session">
          <p class="title">Perspective on Performance Improvement of Ruby Virtual Machine</p>
          <p class="speaker">Koichi Sasada</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Sequel: The Database Toolkit for Ruby</p>
          <p class="speaker">Jeremy Evans</p>
        </div>
        <div class="session">
          <p class="title">Sinatra: The Framework Within</p>
          <p class="speaker">Aaron Quint</p>
        </div>
        <div class="session">
          <p class="title">The innate beauty of Ramaze</p>
          <p class="speaker">Michael Fellinger</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Ruby in 1/60 seconds - Game Programming Ruby -</p>
          <p class="speaker">kumaryu</p>
        </div>
        <div class="session">
          <p class="title">Working Effectively with Ruby for Average Programmers</p>
          <p class="speaker">Tatsuhiro UJIHISA</p>
        </div>
        <div class="session">
          <p class="title">A prototype on integrated environment of static code analysis for Ruby</p>
          <p class="speaker">Tomohisa Katsuma</p>
        </div>
      </td>
    </tr>


    <tr>
      <th>12:00 - 13:30</th>
      <td class="break" colspan="3">lunch break</td>
    </tr>

    <tr>
      <th>13:30 - 14:30</th>
      <td>
        <div class="session">
          <p class="title">Keynote Address</p>
          <p class="speaker">Matz</p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>

    <tr>
      <th>14:30 - 15:30</th>
      <td>
        <div class="session">
          <p class="title">Lightning Talks</p>
          <p class="speaker"></p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>

    <tr>
      <th>15:30 - 16:00</th>
      <td class="break" colspan="3">break</td>
    </tr>

    <tr>
      <th>16:00 - 18:30</th>
      <td class="sessions">
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Katsutoshi Kojima (ITOCHU Techno-Solutions Corp.)</p>
        </div>
        <div class="session">
          <p class="title">Ke-tai Site (Web Site for Japanese Cell Phone) Development with Ruby, Rails</p>
          <p class="speaker">Tomoya Narita, Kei Hamanaka (NIFTY Corporation)</p>
        </div>
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Kazuya Yoshimi (RAWHIDE.)</p>
        </div>
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Kenji Kobayashi (Recruit)</p>
        </div>
        <div class="session">
          <p class="title">Between C and Ruby</p>
          <p class="speaker">Kouhei Sutou (ClearCode Inc.)</p>
        </div>
        <div class="session">
          <p class="title">TBD</p>
          <p class="speaker">Akihiro Matsumura(TIS Inc./SonicGarden) Yuuichi Kuroda(Mitsubishi UFJ Information Technology, Ltd.)</p>
        </div>
        <div class="session">
          <p class="title">(TBD)</p>
          <p class="speaker">Yukio Goto, Manabu Oshiro, Muga Nishizawa (Rakuten)</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session" >
          <p class="title">Ruby C10K challenge: High Performance Networking</p>
          <p class="speaker">Ilya Grigorik</p>
        </div>
        <div class="session">
          <p class="title">NeverBlock and I/O Concurrency in Ruby</p>
          <p class="speaker">Mohammad A. Ali</p>
        </div>
        <div class="session">
          <p class="title">JRuby Update 2009</p>
          <p class="speaker">Thomas Enebo, Nick Sieger</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Distributed Parallel Computing Framework fairy and Distributed Object System DeepConnect</p>
          <p class="speaker">Keiju Ishitsuka, Hajime Masuda</p>
        </div>
        <div class="session">
          <p class="title">great BigTable and my toys.</p>
          <p class="speaker">Masatoshi SEKI</p>
        </div>
        <div class="session">
          <p class="title">concov: continuous test coverage viewer</p>
          <p class="speaker">Yusuke Endoh </p>
        </div>
        <div class="session">
          <p class="title">My ECO Life by Ruby GC improve: No plastic bag thank you</p>
          <p class="speaker">nari</p>
        </div>
      </td>
    </tr>

    <tr>
      <th>18:30 - 20:30</th>
      <td class="empty">-</td>
      <td>
        <div class="session">
          <p class="title">Party</p>
          <p class="speaker">(Bring your own food/drink)</p>
        </div>
      </td>
      <td class="empty">-</td>
    </tr>

  </tbody>
</table>



<a name="timetable-0719">
<h2><%= I18n.l Date.new(2009, 7, 19), :format => :long %></h2>
<table class="timetable">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
      <th class="room">Hitotsubashi Memorial Hall</th>
      <th class="room">Conference Room(2nd Floor)</th>
      <th class="room">Conference Room(1st Floor)</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th>09:30 - 12:00</th>
      <td class="sessions">
        <div class="session">
          <p class="title">Edo Cabinet</p>
          <p class="speaker">John Mettraux</p>
        </div>
        <div class="session">
          <p class="title">Checking Interactively-Developed Code</p>
          <p class="speaker">Andriy Hnativ</p>
        </div>
        <div class="session">
          <p class="title">To the Edge of Web Performance and Beyond</p>
          <p class="speaker">Joshua Hull</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Ruby - The Script Language</p>
          <p class="speaker">arton</p>
        </div>
        <div class="session">
          <p class="title">TBD</p>
          <p class="speaker">Tanaka Akira</p>
        </div>
        <div class="session">
          <p class="title">TBD</p>
          <p class="speaker">Kentaro Goto</p>
        </div>
        <div class="session">
          <p class="title">rubygems autoload hell?(仮)</p>
          <p class="speaker">Kazuhiro Nishiyama</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Project Report:Regional RubyKaigi</p>
          <p class="speaker">KAKUTANI Shintaro</p>
        </div>
        <div class="session">
          <p class="title">Shanghai Ruby/Rails Community</p>
          <p class="speaker">Koz Masumitsu</p>
        </div>
        <div class="session">
          <p class="title">Hello World From The Other Side Of Earth</p>
          <p class="speaker">Daniel Bovensiepen</p>
        </div>
        <div class="session">
          <p class="title">Evolving a Media Platform with Ruby, Rails and Linux</p>
          <p class="speaker">Srihari Srinivasan, Karthik Ramachandra</p>
        </div>
      </td>
    </tr>


    <tr>
      <th>12:00 - 13:30</th>
      <td class="break" colspan="3">lunch break</td>
    </tr>

    <tr>
      <th>13:30 - 15:30</th>
      <td class="sessions">
        <div class="session">
          <p class="title">How Lazy Americans Monitor Servers</p>
          <p class="speaker">James Edward Gray II</p>
        </div>
        <div class="session">
          <p class="title">Journey through a pointy forest: XML parsing in Ruby</p>
          <p class="speaker">Aaron Patterson</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">Ruby, on your Mac of course</p>
          <p class="speaker">Vincent Isambart</p>
        </div>
        <div class="session">
          <p class="title">RubyCocoa/HotCocoa(RHC) - Let's develop an application of MacOS X with Ruby -</p>
          <p class="speaker">TAKAO Kouji</p>
        </div>
        <div class="session">
          <p class="title">iPhone Application Development with Ruby</p>
          <p class="speaker">Takuma Mori</p>
        </div>
      </td>
      <td class="sessions">
        <div class="session">
          <p class="title">N-ways to distribute your Ruby desktop apps</p>
          <p class="speaker">Yutaka HARA </p>
        </div>
        <div class="session">
          <p class="title">Our tDiary's policy and strategies to support Ruby 1.9 and our future plan.</p>
          <p class="speaker">SHIBATA Hiroshi </p>
        </div>
        <div class="session">
          <p class="title">Haml and Sass: Solution for you who get tired of ugly markup</p>
          <p class="speaker">Keita Urashima </p>
        </div>
      </td>
    </tr>

    <tr>
      <th>15:30 - 16:00</th>
      <td class="break" colspan="3">break</td>
    </tr>

    <tr>
      <th>16:00 - 17:00</th>
      <td>
        <div class="session">
          <p class="title">Re-introduction to Ruby</p>
          <p class="speaker">Shugo Maeda</p>
        </div>
      </td>
      <td>
        <div class="session">
          <p class="title">Getting Things &quot;Done Done&quot; As Cool As Cucumber</p>
          <p class="speaker">KAKUTANI Shintaro</p>
        </div>
      </td>
      <td>
        <div class="session">
          <p class="title">All about Erubis</p>
          <p class="speaker">Makoto Kuwata</p>
        </div>
      </td>
    </tr>

    <tr>
      <th>17:00 - 17:10</th>
      <td class="break" colspan="3">break</td>
    </tr>

    <tr>
      <th>17:10 - 18:10</th>
      <td>
        <div class="session">
          <p class="title">Keynote Address</p>
          <p class="speaker">Masayoshi Takahashi</p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>
    <tr>
      <th>18:10 - 18:20</th>
      <td>
        <div class="session">
          <p class="title">Closing</p>
        </div>
      </td>
      <td class="empty">-</td>
      <td class="empty">-</td>
    </tr>

  </tbody>
</table>
</div>
