<%# coding: utf-8 -%>
<div class="item">
  <h2>当日スタッフ募集について</h2>
  <h3>"I WANT YOU for RubyKaigi2009"</h3>
<p>
日本 Ruby 会議 2009では、若干名の当日スタッフを募集します。当日の設営・準備から会期中の進行のサポート、終了後の撤収をつつがなく行えるようにするためのサポートスタッフ、ならびに KaigiFreaks として会期中のセッションを録画配信するお仕事です。
</p>
<p>
以下の当日スタッフの位置付けと応募方法、〆切の案内に目を通していただいた上で、メールにてご応募ください。採用可否はメールで連絡さしあげます。返信可能なメールアドレスの使用をお願いします。
</p>
<p>
ご応募お待ちしております。
</p>
  <h3>当日スタッフの位置づけ</h3>
  <ul>
    <li>完全ボランティア。_why the lucky stiff画伯のイラスト入りスタッフTシャツは支給しますが、金銭的報酬はありません。交通費支給なし。懇親会費も支給なし。</li>
    <li>チケットを購入することなく RubyKaigi 2009 に参加できます。</li>
    <li>でも、仕事によっては見れない発表があることも。</li>
    <li>大規模イベントの運営や進行を体験することができます。また、KaigiFreaks となった場合には日本有数のスタッフによる録画配信の技術を学ぶことができます。</li>
    <li>前日(7/16(木))の準備から手伝ってくれると嬉しいですが、必須ではありません。</li>
    <li>事前に都内で打ち合わせをやるかもしれません(やらないかもしれません)。参加は必須ではありません。</li>
  </ul>
  <h3>応募について</h3>
  <p>応募は下記の要領にしたがってお申し込みください。</p>
  <ul>
    <li> To: 2009+vs at rubykaigi.org</li>
    <li> Subject: RubyKaigi2009/VS:(あなたのお名前)</li>
  </ul>
  <p>メール本文には下記の情報を含めてください。</p>
  <ul>
    <li>お名前</li>
    <li>お住まい(だいたいで結構です。事前打ち合わせの参加規模を調査するためです)</li>
    <li>希望する役割 (サポートスタッフ・KaigiFreaks・どちらでも)</li>
    <li>参加可能な日程 (7/16(木)夜・7/17(金)・7/18(土)・7/19(日))</li>
    <li>ひとこと(あれば)</li>
  </ul>
  <h3>日程</h3>
  <h4>応募締切</h4>
  <p>2009 年 5 月 29 日(金) 19:00</p>
  <h4>採用結果通知</h4>
  <p>2009 年 5 月 30 日(土)</p>
  <h3>お問い合わせ</h3>
  <p>何か不明な点があれば、2009 at rubykaigi.org までお気軽にお問い合わせください。</p>
  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'CallForVolunteerStaffs', :locale => I18n.locale)) %>
  </div>
</div>
