<%# coding: utf-8 -%>
<div class="item">
          <h2>プレゼンテーション募集概要</h2>
          <p>RubyKaigi2009 で発表を希望される方を募集いたします。募集するプレゼンテーションのテーマは以下のとおりです。</p>
          <ul>
            <li> Ruby について、なんでも</li>
          </ul>
          <p>応募は下記の要領にしたがってお申し込みください。</p>
          <ul>
            <li> To: 2009 at rubykaigi.org</li>
            <li> Subject: RubyKaigi2009発表応募:発表者氏名</li>
          </ul>
          <p>メール本文には下記の情報を含めてください。</p>
          <ul>
            <li> 発表者氏名・所属</li>
            <li>タイトル</li>
            <li>概要</li>
            <li>希望するプレゼン時間 (30 分くらい・60 分くらい・それ以上)
			  <ul>
            <li>質疑応答込みの時間です。基本的に、1 発表 60 分くらいを目安に考えています。</li>
			</ul>
            </li>
            <li>希望する発表曜日 (金、土、日、どれでも)</li>
            <li>その他、連絡事項</li>
          </ul>
          <p>あくまで選考のために必要な情報です。採用された後、プログラムに掲載する内容は変更可能です。</p>
          <p>今年は 3 日間で 3 トラック同時進行を検討しています。そのため、従来よりも余裕を持ったプログラム作りができると思っております。<br />
            多くのご応募お待ちしております。</p>
          <h3> 日程</h3>
          <h4>募集締切</h4>
          <p><del>2009 年 3 月 15 日(日)</del>(延長しました)<br />
          <strong>2009 年 3 月 26 日(木)</strong></p>
          <h4>募集結果発表</h4>
          <p>2009 年 3 月末日</p>
          <h4>RubyKaigi2009</h4>
          <p>2009年 7 月 17 日(金)、18 日(土)、19日(日)</p>
          <h3>選考方法</h3>
          <p>RubyKaigi2009 スタッフにより選考いたします。</p>
          <h3>お問い合わせ</h3>
          <p>何か不明な点があれば、2009 at rubykaigi.org までお気軽にお問い合わせください。</p>
          <div>
            <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'CallForPresentations', :locale => I18n.locale)) %>
          </div>
        </div>
