<div class="item">
  <h2>Call for Sponsors</h2>
<p>
If you are interested in sponsoring the Rubykaigi2009, feel free to contact us via e-mail to 2009 at rubykaigo dot org.
We'll get back to you soon.
</p>

  <div><%=link_to('Permalink', rubykaigi2009_path(:page => 'CallForSponsors', :locale => I18n.locale)) %></div>
</div>
