<div class="item">
<h2>Call for presentations</h2>
<p>RubyKaigi 2009 is seeking presentation proposals on the following topics:</p>
<ul>
<li>Anything relating to the Ruby Programming Language</li>
</ul>
<p>Please make your submission by e-mail according to the following format:</p>
<ul>
 <li>To: 2009@rubykaigi.org</li>
 <il>Subject: RubyKaigi 2009 Presentation Proposal: &gt;your name&lt;</li>
</ul>
<p>In the body of your e-mail, please include the following information:</p>
<ul>
 <li>Full name</li>
 <li>Affiliation/Company (optional)</li>
 <li>Presentation Title</li>
 <li>Presentation language (Japanese/English/both)</li>
 <li>Abstract of your presentation</li>
 <li>Preferred length of your talk (including Q/A time):
   <ul>
   <li>about 30 min</li>
   <li>about 60 min (typical duration)</li>
   <li>longer than 60 min</li>
   </ul>
  </li>
 <li>Preferred day:
   <ul>
   <li>Friday, July 17</li>
   <li>Saturday, July 18</li>
   <li>Sunday, July 19</li>
   <li>no preference</li>
   </ul>
 </li>
 <li>Any questions or additional notes</li>
</ul>
<p>
We will use this information to evaluate your proposal and is not binding. If your proposal is accepted, changes in the content of your talk are possible with consultation.
</p>
<p>
Presentations proposals will be judged by the RubyKaigi Organizing Committee.
</p>
<p>
This year, we are considering running 3 parallel tracks over the 3 days. Compared to past years (single track), we are likely to have much more flexibility in our program. We're looking forward to hearing from you.</p>

<h3>Important Dates</h3>
<dl>
<dt>Submission Deadline:</dt>
<dd>23:59 JST, Sunday, March 15th, 2009.</dd>
<dt>Announcement of selection results:</dt>
<dd>End of March, 2009</dd>
<dt>RubyKaigi 2009:</dt>
<dd>Friday, 17th July - Sunday, 19th July</dd>
</dl>
<h3>Questions?</h3>
<p>
If you have any questions, please contact us at 2009@rubykaigi.org.
</p>

  <div><%=link_to('Permalink', rubykaigi2009_path(:page => 'CallForPresentations', :locale => I18n.locale)) %></div>
</div>
