<%# coding: utf-8 -%>
<div class="item">
  <h2>メディアスポンサー募集について</h2>
<p>
過去3回のRubyKaigi はいずれも、メディアスポンサーの方々のご支援・ご協力により、充実したイベントを開催できております。ご支援いただいた皆さまには心より感謝申し上げます。
</p>
<p>
日本Ruby会議2009 でもメディアスポンサーを募集いたします。メディアスポンサーを希望されるメディアの方は 2009 at rubykaigi.org までメールにてお申し込み下さい。日本Ruby会議2009実行委員会より追ってご連絡さしあげます。ご質問等についても、同様にメールにてお気軽にお問い合わせいただければ幸いです。</p>
<p>
よろしくお願いいたします。
</p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'CallForMediaSponsors', :locale => I18n.locale)) %>
  </div>
</div>
