    <div id="container">
      <div id="header">
        <img src="/images/top.png" alt="RubyKaigi2009 @Tokyo July 17-19 2009" width="780" height="460" />
        <h1>日本Ruby会議2009</h1>
      </div>

      <div id="content">
        <div class="item">
          <p>日本Ruby会議は、オブジェクト指向スクリプト言語Rubyに関するイベントとしては 世界でも最大級のもので、2006年から毎年開催されています。昨年つくばで開催された 日本Ruby会議2008は、3日間でのべ1000人を越える来場者を数えました。</p>
          <p>その第４回目となる日本Ruby会議2009(略称:RubyKaigi2009)は、2009年7月17日から 19日までの３日間、学術総合センター（東京都千代田区）にて開催いたします。 都内はもとより、関東圏外の方から参加される方に対しても利便性の高い会場であり、 例年以上の参加を見込んでいます。</p>
          <p>RubyKaigi2009のテーマは、「変わる／変える」です。 前回のRubyKaigi2008のテーマであった「多様性」の言葉の通り、 2008年はRubyそのものに関しても、またRubyの活躍する舞台に関しても、 ますます多様化が進みつつあります。RubyKaigi2008は、そのような Rubyの生態系をあらためて認識する場となりました。 しかし、こうした多様化が進む中、異なる者同士が単純に距離を 置いたままでは、その違いを認識したところであまり意味がありません。 異なる実装、異なる思想、異なる背景といった、様々な多様性を理解しつつ、 すり合わせるべきものをすり合わせ、変えていくべきところを 変えていくことが、豊かな未来へとつながる道に違いありません。</p>
          <p>Ruby自身、1.9.1のリリースを迎え、大きく変わりつつあります。 進化を遂げつつあるRubyに対し、Rubyとその周辺をどのように変えていくのか、 そして変わっていくRubyに対し、私たち自身がどう変わっていくべきなのか、 どのように変わることができるのか。 そのような変革への期待と決意を一望できる場所となればと考えています。 みなさまのご参加を心よりお待ちしております。</p>
        </div>

        <div class="item">
          <h2>開催概要</h2>
          <ul>
            <li>名称: 日本Ruby会議2009 (RubyKaigi2009)</li>
            <li>会期: 2009 年 7 月 17 日(金)・18 日(土)・19 日(日)</li>
            <li>会場: <a href="http://www.zam.go.jp/e00/e0000800.htm">学術総合センター</a>（東京都千代田区）<a href="http://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;lr=lang_ja&amp;oe=utf-8&amp;client=firefox&amp;ie=UTF8&amp;split=0&amp;gl=jp&amp;ei=IEGOScu3EtXFkAWLl9zLDA&amp;z=16&amp;iwloc=addr">地図</a></li>
            <li>主催: 日本Ruby会議2009実行委員会, Rubyアソシエーション, 日本Rubyの会</li>
          </ul>
        </div>

        <div class="item">
          <h2>プレゼンテーション募集概要</h2>
          <p>RubyKaigi2009 で発表を希望される方を募集いたします。募集するプレゼンテーションのテーマは以下のとおりです。</p>
          <ul>
            <li> Ruby について、なんでも</li>
          </ul>
          <p>応募は下記の要領にしたがってお申し込みください。</p>
          <ul>
            <li> To: 2009 at rubykaigi.org</li>
            <li> Subject: RubyKaigi2009発表応募:発表者氏名</li>
          </ul>
          <p>メール本文には下記の情報を含めてください。</p>
          <ul>
            <li> 発表者氏名・所属</li>
            <li>タイトル</li>
            <li>概要</li>
            <li>希望するプレゼン時間 (30 分くらい・60 分くらい・それ以上)</li>
            <li>質疑応答込みの時間です。基本的に、1 発表 60 分くらいを目安に考えています。</li>
            <li>希望する発表曜日 (金、土、日、どれでも)</li>
            <li>その他、連絡事項</li>
          </ul>
          <p>あくまで選考のために必要な情報です。採用された後、プログラムに掲載する内容は変更可能です。</p>
          <p>今年は 3 日間で 3 トラック同時進行を検討しています。そのため、従来よりも余裕を持ったプログラム作りができると思っております。<br />
            多くのご応募お待ちしております。</p>
          <h3> 日程</h3>
          <h4>募集締切</h4>
          <p>2009 年 3 月 15 日(日)</p>
          <h4>募集結果発表</h4>
          <p>2009 年 3 月末日</p>
          <h4>RubyKaigi2009</h4>
          <p>2009年 7 月 17 日(金)、18 日(土)、19日(日)</p>
          <h3>選考方法</h3>
          <p>RubyKaigi2009 スタッフにより選考いたします。</p>
          <h3>お問い合わせ</h3>
          <p>何か不明な点があれば、2009 at rubykaigi.org までお気軽にお問い合わせください。</p>
        </div>
      </div>
    </div>
