        <div class="item">
<strong>RubyKaigi2009</strong> will be held at Hitotsubashi Conference Hall in Chiyoda-ku, <strong>Tokyo</strong>, over 3 days from Friday, <strong>July 17th</strong> until Sunday, <strong>July 19th</strong>.

<ul>
            <li>Dates: Jul 17-19 2009</li>
            <li>Venue: Hitotsubashi Conference Hall in Chiyoda-ku, Tokyo&nbsp;(<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&sll=37.0625,-95.677068&sspn=56.243791,87.802734&ie=UTF8&z=17&iwloc=addr">Map</a>)</li>
          </ul>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;sll=37.0625,-95.677068&amp;sspn=56.243791,87.802734&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;ll=35.702196,139.76223&amp;output=embed&amp;s=AARTsJoUVtmxkSbQq8Ss4BKDR4d_ZX2JNA"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;sll=37.0625,-95.677068&amp;sspn=56.243791,87.802734&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;ll=35.702196,139.76223" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>


		<%= render :file => "ruby_kaigi2009/CallForPresentations_#{I18n.locale}.html.erb" %>

		<%= render :file => "ruby_kaigi2009/CallForSponsors_#{I18n.locale}.html.erb" %>
