<%# coding: utf-8 -%>
<div class="item">
  <h2>Useful information for RubyKaigi2009 attendees</h2>
  <h3>Wi-Fi internet access</h3>
  <p>There will be free wi-fi internet access at the conference venue. There will be access points operating on both the 5.6GHz and 2.4Ghz bands in both the main hall and multi-purpose hall. Detailed instructions can be found in the pamphlet below:</p>
  <ul>
    <li>(We'll write this page later...)</li>
  </ul>
  <p>We ask you to keep in mind that network resources are limited, and avoid using high bandwidth usage of the internet, such as watching or broadcasting video, etc.</p>
  <%# #FIXME: ポート制限に関するアナウンス %>
  <h3>Food and drink at the conference venue</h3>
  <p>Consumption of food and drink is not permitted. We appreciate your cooperation.</p>
  <h3>Restaurants close to the venue</h3>
  <p>Please refer to the map linked below for restaurants in the area of the venue.</p>
  <ul>
    <li><%=link_to("Lunch Map", "http://r.tabelog.com/rst/rstmap?clon=139.758120775223&clat=35.6924543947299&lz=0&Cat=RC&LstRev=1") %></li>
  </ul>
  <h3>If you feel unwell...</h3>
  <p>A map of the local hospitals is linked below. Please do not hesitate to contact nearby RubyKaigi staff if you require assistance.</p>
  <ul>
    <li><%=link_to("Hospital List", "http://hospital.health.goo.ne.jp/result.php?pcd=13&cnd=med&icd=05704&act.search.x=26&act.search.y=18&act.search=%A1%A1%B8%A1%BA%F7%A1%A1") %></li>
  </ul>
  <h3>Power outlets at the venue</h3>
  <p>(We'll write this page later...)</p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Infomation', :locale => I18n.locale)) %>
  </div>
</div>
