<%# coding: utf-8 -%>
<div class="item">
  <h2>IRC</h2>
  <p>To access the official RubyKaigi IRC channel, please use the service linked below.</p>
  <p><a href="http://webchat.freenode.net/?channels=rubykaigi1%2Crubykaigi2%2Crubykaigi3%2Crubykaigi" target="_blank">Open as a new window</a></p>
  <p><iframe src="http://webchat.freenode.net/?channels=rubykaigi1%2Crubykaigi2%2Crubykaigi3%2Crubykaigi" width="647" height="400"></iframe></p>
  <h3>Official RubyKaigi IRC Channels</h3>
  <ul>
      <li>#rubykaigi (General)</li>
      <li>#rubykaigi1 (Main Hall - Hitotsubashi Memorial Hall)</li>
      <li>#rubykaigi2 (2nd Floor Conference Room)</li>
      <li>#rubykaigi3 (1st Floor Conference Room)</li>
  </ul>
  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'irc', :locale => I18n.locale)) %>
  </div>
</div>
