<%# coding: utf-8 -%>
<div class="item">
  <h2>IRC</h2>
  <p><a href="http://webchat.freenode.net/?channels=rubykaigi1%2Crubykaigi2%2Crubykaigi3%2Crubykaigi">webchat.freenode.net</a></p>
  <p><iframe src="http://webchat.freenode.net/?channels=rubykaigi1%2Crubykaigi2%2Crubykaigi3%2Crubykaigi" width="647" height="400"></iframe></p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'irc', :locale => I18n.locale)) %>
  </div>
</div>
