<%# coding: utf-8 -%>
<div class="item">
  <h2>取材をご希望の方へ</h2>
<p>
日本Ruby会議2009 の取材ならびに情報提供を希望されるメディアの方は、2009 at rubykaigi.org までメールにてお申し込みください。日本Ruby会議2009実行委員会より追ってご連絡さしあげます。ご質問等についても、同様にメールにてお気軽にお問い合わせいただければ幸いです。
</p>
<p>
よろしくお願いいたします。
</p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Press', :locale => I18n.locale)) %>
  </div>
</div>
