<%# coding: utf-8 -%>
<div class="item">
  <h2>スポンサー</h2>
  <p
>日本Ruby会議2009は、以下の企業の皆さまの協賛のもと、開催いたします。ご協力ありがとうございます。
  </p>
  <h3>Rubyスポンサー</h3>
<p
>...
</p>
  <h3>プラチナスポンサー</h3>
<p
>...
</p>
  <h3>ゴールドスポンサー</h3>
<p
>...
</p>
</div>
