<%# coding: utf-8 -%>
<div class="item">
  <h2>The RubyKaigi 2009 Executive Committee</h2>
  <dl>
    <dt>Chairman</dt>
    <dd>Masayoshi TAKAHASHI (Nihon Ruby-no-Kai, Chairman / Twinspark)</dd>
    <dt>Chief of Operations</dt>
    <dd>Shintaro KAKUTANI (Nihon Ruby-no-Kai || Eiwa System Management)</dd>
    <dt>Program Chair</dt>
    <dd>Koichi SASADA (Nihon Ruby-no-Kai, The University of Tokyo)</dd>
    <dt>Sponsor Liason</dt>
    <dd>Junichiro KITA (Nihon Ruby-no-Kai)</dd>
    <dt>Ruby Association</dt>
    <dd>Shugo MAEDA (Ruby Association / Network Applied Communication Laboratory)</dd>
  </dl>
  <h3>Staff</h3>
  <ul>
    <li>Tadashi TADA (tDiary.org) - Conference Novelty Goods</li>
    <li>Norio (Ibaraki Ruby-no-kai) - Design</li>
    <li>Shin'ya ADZUMI (Nihon Ruby-no-kai, Intasect Communications) - Accounting</li>
    <li>Osamu FUKUI (Nihon Ruby-no-kai, iRubySystems) - Hall Preparations</li>
    <li>Ayumu AIZAWA (Nihon Ruby-no-Kai, Akasaka.rb) - </li>
    <li>Toshiaki KOSHIBA (iPride, 4038nullpointer.com) - </li>
    <li>Sunao TANABE (Nihon Ruby-no-kai) - </li>
    <li>Tadashi SAWADA - </li>
    <li>Naoto TAKAI (Akasaka.rb) - </li>
    <li>Leonard Chin (Nihon Ruby-no-kai) - English Support</li>
    <li>Kyosuke MOROHASHI (Rails Tokyo || Eiwa System Management) - Accounting</li>
    <li>Junya OGINO</li>
    <li>Kazuhiko (Open Source Programmer / Nihon Ruby-no-kai)</li>
    <li>Tadashi SAITO (College of Information Science, University of Tsukuba) - </li>
  </ul>
  <h3>Volunteer Staff</h3>
  <ul>
    <li>Shumpei AKAI (Tokyo Institute of Technology)</li>
    <li>Ryousuke ONO (Otaru University of Commerce)</li>
    <li>Motohiro TAKAYAMA (@mootoh)</li>
    <li>Yusuke SAKAKI (mitaka.rb)</li>
    <li>Yukinori TANIUCHI (id:negaton, Tsukuba.R)
    <li>Miho SUZUKI (@adzuki34)</li>
    <li>Maico SATO (Ruby Sapporo)</li>
    <li>Iori ONDA</li>
  </ul>
  <h3>KaigiFreaks</h3>
  <ul>
    <li>Koji SHIMADA (Ruby Sapporo / Enishi Tech)</li>
    <li>Yohji SHIDARA (Ruby Sapporo / Enishi Tech)</li>
    <li>Tomoki MAEDA (Ruby Sapporo / Antas)</li>
    <li>Kenta MURATA (Ruby Sapporo)</li>
    <li>Fumitake TANIGUCHI (Ruby Sapporo, Hokkaido Information University)</li>
    <li>Mitsuteru NAKAO (BioRuby.org)</li>
    <li>Ippei OGIWARA (iogi)</li>
    <li>Norio SUZUKI (Japan PHP Users Group, TRICORN)</li>
    <li>Kazumichi TAKAHASHI (gihyo.jp)</li>
    <li>Daiki IKEDA (WEB+DB PRESS)</li>
    <li>Jun OHWADA (Ruby Sapporo, Scigineer)</li>
    <li>Kei SHIRATSUCHI (Ruby Sapporo, Scigineer)</li>
    <li>id:syou6162 (Tsukuba.R)</li>
    <li>id:mickey24 (Tsukuba.R)</li>
    <li>id:wakuteka (Tsukuba.R)</li>
  </ul>
  <h3>Slide Translator</h3>
  <ul>
    <li>Leonard Chin (Nihon Ruby-no-kai)</li>
    <li>Tadashi SAWADA</li>
    <li>Masayoshi TAKAHASHI (Nihon Ruby-no-Kai, Chairman / Twinspark)</li>
    <li>Motohiro TAKAYAMA (@mootoh)</li>
    <li>Sougo TSUBOI (druby.org)</li>
    <li>Akira MATSUDA (Asakusa.rb)</li>
  </ul>
  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Team', :locale => I18n.locale)) %>
  </div>
</div>
