<%# coding: utf-8 -%>
<div class="item">
  <h2>日本Ruby会議2009実行委員会</h2>
  <dl>
    <dt>実行委員長</dt>
    <dd>高橋征義(日本Rubyの会会長 / 株式会社ツインスパーク)</dd>
    <dt>運営委員長</dt>
    <dd>角谷信太郎(日本Rubyの会 || (株)永和システムマネジメント)</dd>
    <dt>プログラム委員長</dt>
    <dd>笹田耕一(日本Rubyの会 / 東京大学大学院情報理工学系研究科創造情報学専攻)</dd>
    <dt>スポンサー渉外担当</dt>
    <dd>喜多淳一郎(日本Rubyの会)</dd>
    <dt>Rubyアソシエーション</dt>
    <dd>前田修吾(Rubyアソシエーション / 株式会社ネットワーク応用通信研究所)</dd>
  </dl>
  <h3>実行委員</h3>
  <ul>
    <li>(あとで書く)</li>
  </ul>
  <h3>&quot;当日&quot;スタッフ</h3>
  <ul>
    <li>(あとで書く)</li>
  </ul>
  <h3>KaigiFreaks</h3>
  <ul>
    <li>しまだこうじ(Ruby札幌)</li>
    <li>しだらようじ(Ruby札幌)</li>
    <li>まえだともき(Ruby札幌 / 株式会社アンタス)</li>
    <li>むらたけんた(Ruby札幌)</li>
    <li>たにぐちふみたけ(Ruby札幌 / 北海道情報大学)</li>
    <li>id:coji</li>
    <li>id:iogi</li>
    <li>高橋和道(技術評論社gihyo.jp編集部)</li>
    <li>池田大樹(技術評論社WEB+DB PRESS編集部)</li>
    <li>id:syou6162(Tsukuba.R)</li>
    <li>and more...</li>
  </ul>
</div>
<div>
  <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Team', :locale => I18n.locale)) %>
</div>
