@charset "UTF-8";

body {
  margin: 0px;
  padding: 0 0 20px;
  text-align: center;
  line-height: 1.8;
  font-size: 12px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  background: #000;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  border-width: 0px;
}

h1 {
  margin: 0;
  padding: 0;
  border-top: 6px solid #1B1B1B;
  border-bottom: 2px solid #000;
}
h2 {
  margin: 0 0 0.5em;
  padding: 1em 50px 0.5em;
  font-size: 18px;
  border-top: 6px solid #1B1B1B;
  background: #fff;
  color: #000;
}
h3 {
  margin: 0 0 1em;
  padding: 1em 50px 0.5em;
  font-size: 14px;
  clear: both;
}
h4 {
  margin: 0;
  padding: 1em 50px 0.5em;
  font-size: 12px;
  clear: both;
}
p {
  margin: 0 0 1em;
  padding: 0;
}

ol {
  padding: 0em 0 1em 2em;
  margin: 16px 0 0px 0px;
}

strong {
  font-size: 12px;
}


#container {
  margin: 0 auto;
  padding: 0px;
  width: 960px;
  background: #1B1B1B;
  text-align: left;
}

#content {
  margin: 0px 0px;
  width: 764px;
  float: left;
  background: #E6E6E6;
}

#side {
  width: 196px;
  float: left;
}
#navigation,
#navigation ul,
#navigation li,
#navigation dt,
#navigation dd {
  margin: 0;
  padding: 0;
}
#navigation ul,
#navigation li {
  list-style: none;
}
#navigation a {
  color: #666;
  font-size: 12px;
}
#navigation a:hover {
  color: #aaa;
}
#navigation dt {
  padding: 18px 12px;
  border-bottom: 1px solid #000;
  font-size: 14px;
  color: #fff;
}
#navigation dd {
  margin: 0 0 20px;
  border-bottom: 1px solid #000;
}
#navigation li {
  margin: 6px 0px;
  padding: 0px 12px;
  font-size: 12px;
  color: #fff;
}

#sponsors ul,
#sponsors li,
#sponsors dt,
#sponsors dd {
  margin: 0;
  padding: 0;
}
#sponsors ul,
#sponsors li {
  list-style: none;
}
#sponsors {
  margin: 20px auto;
  padding: 0;
  width: 166px;
  text-align: center;
}
#sponsors dt {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  background: transparent url(/images/sponsor-header.png) no-repeat top center;
}
#sponsors dd {
  margin: 0 0 20px;
  padding: 10px 0px;
  background: #fff url(/images/sponsor-footer.png) no-repeat bottom center;
}
#sponsors li {
  margin: 16px 0px;
  padding: 0px 0px;
  font-size: 12px;
  color: #000;
}


#analog {
  position: fixed !important;
  position: absolute;
  top: 3px;
  right: 3px;
}

.item {
  margin: 0 0 40px;
}
.item ul,
.item p,
.item div,
.item dl,
.article {
  margin: 0 50px 1em;
}
.article h3 {
  margin: 0 0 1em;
  padding: 1em 0px 0.5em;
}

.date {
  font-size: 10px;
}

img.logo {
  margin: 0 10px 10px 0;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  background: #fff;
}

#footer {
  margin: 30px 0 0;
  padding: 30px 50px 40px;
  clear: both;
  background: #333;
  overflow: auto;
  zoom: 1;
  color: #fff;
}
#footer h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
  background: transparent;
}
#footer ul,
#footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer .item {
  margin: 0;
  padding: 0;
  width: 214px;
  float: left;
}
#footer a {
  color: #666;
  font-size: 12px;
}
#footer a:hover {
  color: #aaa;
}

div.soldout_notice {
  padding:10px;
  background-color:#fff;
  color:#f00;
  border: 1px solid #aaa;
  font-weight:bold;
}
