@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  background: #fff;
}

div#container {
}

div#header {
  margin: 0;
  padding: 10px;
}

div#main {
  margin: 0 20px;
}

h1 {
  padding: 0;
  margin: 3px;
}

ul {
  margin-left: 1em;
  padding: 0;
}

li {
}
