<div class="item">
  <h2>ライトニングトークスでのプレゼンテーションを募集します</h2>
<p>いわゆるライトニングトークスでのプレゼンテーションを募集します。 Rubyに関するアプリケーションのデモやRubyに関する主張、その他なんでも、発表したいことがある人はぜひご応募ください。</p>
  <h3>RubyKaigi2009のライトニングトークスについて</h3>
<p>ライトニングトークスは 1 時間で 5 分間のプレゼンテーションを 11 本行うオーソドックスなスタイルになる予定です。 RubyKaigi2009では、<strong>会期1日目(7/17(金))と2日目(7/18(土))</strong>の午後にそれぞれ実施する予定です。</p>
<p>
なお、応募者多数の場合は日本 Ruby会議2009実行委員会の選考により各日11発表(最大で22発表)に絞ります。また、応募が少数の場合は1日だけになるかもしれません。
</p>
  <h3>ライトニングトークス発表者の入場チケットについて</h3>
  <p>ライトニングトークス発表者も<strong>入場チケットが必要です</strong>。 もしも、チケットを事前に購入できなかった場合は、実費にてチケットの斡旋を行います。</p>
  <p>懇親会については、通常の参加者と同様です。つまり、特別に斡旋などはいたしません。</p>

  <h3>応募方法</h3>
  <p>下記のフォームから応募してください。</p>

  <h3>募集締め切り・発表者決定</h3>
<p>
応募締め切りは 2009 年 6 月 25 日 (木)です。締め切り後なるべく速やかに選考を行い、6 月 29 日 (月) までに当落を通知いたします。
</p>
<p>
応募多数の場合は、上記〆切よりも早く応募の受け付けを終了する場合があります。応募はお早めにお願いします。
</p>
  <h3>応募フォーム</h3>
  <%= render :partial => "form" %>
</div>
