<div class="item">
  <h2>We're Looking for Lightning Talk(LT) Presenters</h2>
<p>RubyKaigi2009 is currently assembling proposals for Lightning Talks. We're looking for talks on a wide range of topics, from demos of Ruby applications, to your opinions about Ruby itself, and so forth. Please apply if you're interested!</p>
  <h3>About Lightning Talks</h3>
<p>We plan to run a &quot;standard&quot; battery of 11 talks, each of strictly 5 minutes duration, in a solid 1 hour session. This session will be held in the afternoon of Day 1 (Friday, July 17) <strong>and</strong> Day 2 (Saturday, July 18).</p>

<p>
Presentations will be selected from the proposals by the RubyKaigi 2009 Team.
</p>

  <h3>Regarding Tickets for LT Speakers</h3>
  <p>Please be aware that Lightning Talk speakers will <strong>need tickets to attend the conference</strong>. If you are selected as an LT speaker, but were unable to purchase a ticket in advance, the committee shall make arrangements for you to purchase a ticket.</p>

  <p>NOTICE: We cannot make arrangements for RubyKaigi2009 Party. You'll need you own conference party admission if you'd like to attend.</p>

  <h3>Important Dates</h3>
<ul>
<li>Submission deadline: Thursday, June 25, 2009.</li>
<li>Notification of acceptance: Monday June 29, 2009.</li>
<li>RubyKaigi2009 LT: Friday, July 17-18 2009.</li>
</ul>
  <h3>Lightning Talk Submission</h3>
  <%= render :partial => "form" %>
</div>
