<div class="item">
  <h2>Thank you for your submission</h2>
  <p>
  Thank you for your submission to RubyKaigi2009 Lightning Talks.
  </p>
  <p>
  Confirmation mail will be sent to you shortly.
  If you don't recieve the confirmation mail in a few minutes,
  something may go wrong, so please let us know (2009 at rubykaigi dot org).
  </p>
  <p>
  The result of selection will be sent later.
  </p>

  <p>
  If you have any questions, contact us by email 2009 at rubykaigi dot org.
  </p>
</div>
