<div class="item">
  <h2>ライトニングトークスへの応募が完了しました</h2>

  <p>
  日本Ruby会議2009ライトニングトークスにご応募いただきありがとうございました。
  </p>
  <p>
  投稿確認のメールが自動送信されます。
  自動送信のメールが届かない場合は何か問題が発生している可能性がありますので 2009 at rubykaigi dot org までご連絡ください。
  </p>
  <p>
  選考結果は後日お送りします。
  </p>

  <p>
  お問い合わせは 2009 at rubykaigi dot org までお送りください。
  </p>
</div>
