<div class="item">
  <h2>ライトニングトークスへの応募が完了しました</h2>

  <p>
  日本Ruby会議2009ライトニングトークスにご応募いただきありがとうございました。
  </p>
  <p>
  投稿確認のメールが自動送信されます。
  選考結果は後日お送りします。 <%#TODO いつ？ %>
  </p>

  <p>
  お問い合わせは 2009 at rubykaigi dot org までお送りください。
  </p>
</div>
