development: &local
  basic_auth:
    admin:
      username: basic_user
      password: basic_passwd
    sponsor:
      username: sponsor_username
      password: sponsor_password

production:
  basic_auth:
    admin:
      username: itsumono
      password: itsumono
    sponsor:
      username: sponsor_username
      password: sponsor_password

test:
  <<: *local
