development: &local
  basic_auth:
    admin:
      username: basic_user
      password: basic_password
    sponsor:
      username: sponsor_username
      password: sponsor_password
  paypal:
    base_url: https://www.sandbox.paypal.com
    request_uri: /cgi-bin/webscr
    hosted_button_id:
      rubykaigi2009:
        conference: number
        party: number
    soldout:
      rubykaigi2009:
        conference: false
        party: false
    open_at: 2009-06-01 16:00:00
  gmail:
    user_name: gmail_user_name
    password: gmail_password
  action_mailer:
    from: "RubyKaigi2009 <2009@rubykaigi.org>"
    bcc: "RubyKaigi2009 <2009@rubykaigi.org>"
  lt_submission:
    close_at: 2009-06-25 23:59:59
production:
  basic_auth:
    admin:
      username: itsumono
      password: itsumono
    sponsor:
      username: sponsor_username
      password: sponsor_password

test:
  <<: *local
