development:
  adapter: mysql
  encoding: utf8
  database: rubykaigi_development
  user: root
  password:
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock

test:
  adapter: mysql
  encoding: utf8
  database: rubykaigi_test
  user: root
  password:
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock

production:
  adapter: mysql
  encoding: utf8
  database: rubykaigi
  user: rubykaigi
  password:
  pool: 5
  timeout: 5000
  socket: /var/run/mysqld/mysqld.sock
