<div class="item">
<h2>Exchange Ticket(s) has been Reissued.</h2>
<p>
<%= t(:reissue_mailback) %><br />
<span style="font-size:18px;font-weight:bold;margin: 10px;"><%=h @email %></span><br />
(<%= t(:reissue_when_match_exactly) %>)</p>
</div>
