<h3>Your RubyKaigi Exchange Ticket.</h3>
<p><%= link_to request.url, request.url %></p>
<hr />
<%= render :partial => "exchange_ticket" %>
<hr />
<p><%= link_to 'rubykaigi2009', "/2009/#{I18n.locale}/registrations" %></p>
