<h3>We cannnot verify your transaction.</h3>
<p>
Something went wrong. Please contact us e-mail via e-mail to: paypal at rubykaigi dot org.<br />
(with your name, e-mail and transaction id are described in the e-mail sent from paypal.)
</p>
<div style="text-align: center">
<img src="/images/kaigi2009-flame-small.png" width="215" height="300" />
</div>
