<h2>ライトニングトーク応募者のみなさん</h2>
<div>
<%= link_to("審査状況の一覧", admin_lightning_talk_selections_path) %>
</div>

<% @lightning_talk_submissions.each_with_index do |submission, idx| -%>
  <%= render :partial => "submission", :locals => { :submission => submission, :seq => idx + 1 } %>
<% end -%>

<div>
<%= link_to("審査状況の一覧", admin_lightning_talk_selections_path) %>
</div>
