<%# coding: utf-8 -%>
<div class="item">
  <h2>RubyKaigi2009.live!</h2>
  <h3><%=t("room.rubykaigi2009.medium") %></h3>
  <p>The live broadcast will be via ustream.tv. We will not be using ustream's IRC server. Please use #rubykaigi on irc.freenode.net.</p>
  <p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="320" id="utv935261"><param name="flashvars" value="autoplay=false&amp;brand=embed"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/975697"/><embed flashvars="autoplay=false&amp;brand=embed" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv935261" name="utv_n_907037" src="http://www.ustream.tv/flash/live/1/975697" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live streaming video by Ustream</a>
  </p>
  <h3>about IRC</h3>
  <ul>
    <li>Server: irc.freenode.net:6667</li>
    <li>Channel: #rubykaigi2</li>
    <li>encoding: UTF-8</li>
  </ul>
  <h3>notes</h3>
  <ul>
    <li>Streaming quality is Best Effort. Please understand that we cannot guarantee quality.</li>
    <li>RubyKaigi.live! is brought to you by "KaigiFreaks"</li>
    <li>Recordings of the RubyKaigi talks will also be released to various video sharing services after the conference.</li>
  </ul>
</div>
