<%# coding: utf-8 -%>
<div class="item">
  <h2>RubyKaigi2009.live!</h2>
  <h3><%=t("room.rubykaigi2009.small") %></h3>
  <p>The live broadcast will be via ustream.tv. We will not be using ustream's IRC server. Please use #rubykaigi on irc.freenode.net.</p>
  <p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="320" id="utv714691"><param name="flashvars" value="autoplay=false&amp;brand=embed"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/181008"/><embed flashvars="autoplay=false&amp;brand=embed" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv714691" name="utv_n_200671" src="http://www.ustream.tv/flash/live/1/181008" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Stream videos at Ustream</a>
  </p>
</div>
