<%# coding: utf-8 -%>
<div class="item">
  <h2>RubyKaigi2009.live!</h2>
  <h3><%=t("room.rubykaigi2009.hall") %></h3>
  <p>Ustream.tvを使ったストリーミング中継です。ustのIRCは利用しません。irc.freenode.netを使ってください。</p>
  <p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="320" id="utv146101"><param name="flashvars" value="autoplay=false&amp;brand=embed"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/975693"/><embed flashvars="autoplay=false&amp;brand=embed" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv146101" name="utv_n_238891" src="http://www.ustream.tv/flash/live/1/975693" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Free video chat by Ustream</a>
  </p>
  <h3>IRC情報</h3>
  <ul>
    <li>サーバ: irc.freenode.net:6667</li>
    <li>チャネル: #rubykaigi1</li>
    <li>文字コード: UTF-8</li>
  </ul>
  <h3>その他</h3>
  <ul>
    <li>中継品質はベストエフォートです。悪しからずご了承ください。</li>
    <li>KaigiFreaksがお届けします。</li>
    <li>中継とは別に、後日録画した動画も公開予定です(準備ができ次第、別途アナウンスします)。</li>
  </ul>
</div>
