<html>
<head>
  <title>RubyKaigi</title>
</head>
<body>

<%= yield %>


<hr />
Feel free to contact us via e-mail to: 2009 at rubykaigi dot org.
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6972157-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
